$white: #fff;
$darkBlue: #1e2f40;
$lightBlue: #155da6;
$greyLight: #999;
$gold: #faec73;

// $delay: 1s;
// $speed: 1s;

$glow: rgba(0, 0, 0, .5);
$glowLight: rgba(255, 255, 255, .8);

// $gradientFrom: #056dad;
// $gradientTo: #6bc6ff;
$gradientFrom: #193382;
$gradientTo: #136899;
