$white: #fff;
$darkBlue: #1e2f40;
$lightBlue: #155da6;
$greyLight: #999;
$gold: #faec73;

$delay: 2s;
$speed: 1s;

// $gradientFrom: #056dad;
// $gradientTo: #6bc6ff;
$gradientFrom: #d72163;
$gradientTo: #ff6be3;
