include ./mixins.pug
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title TeamLead 🚀
  body
    header.intro
      figure
        img(src=require("./images/TeamLead.svg").default,  alt="TeamLead")
      h1#introTypewriter

    //- .wrapper

    //- footer
      .copy &copy; Maksim Rozhkov
