@import 'variables';

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  align-items: flex-center;
  height: 100vh;
  width: 100vw;
  padding: 15px;
  box-sizing: border-box;
  background: linear-gradient(0deg, $gradientFrom, $gradientTo);

  .logo {
    margin: auto;
    width: 100%;
    max-width: 500px;
    height: auto;
    mix-blend-mode: overlay;
    opacity: 0;
    transform: scale(0);
    animation: showUp .5s .3s ease-in-out forwards;

    .shadow {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: blur(4px);
    }

    svg {
      fill: $white;

      .tl,
      .e,
      .a,
      .md {
        fill: none;
        stroke: $glowLight;
        stroke-linecap: round;
        stroke-linejoin: round;
        opacity: .3;

        stroke-width: 5px;
        stroke-dasharray: 296;
        stroke-dashoffset: 0;
        animation: edgeTl 10s linear infinite;
      }

      .e {
        stroke-dasharray: 170.4;
        animation: edgeE 10s linear infinite;
      }

      .a {
        stroke-dasharray: 167.52;
        animation: edgeA 10s linear infinite;
      }

      .md {
        stroke-dasharray: 401.85;
        animation: edgeMd 10s linear infinite;
      }


    }
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: scale(.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes edgeTl {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 592.02; }
}

@keyframes edgeE {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 340.8; }
}

@keyframes edgeA {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 335.03; }
}

@keyframes edgeMd {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 803.7; }
}
