@import 'variables';

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  align-items: flex-center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, $gradientFrom, $gradientTo);
  // animation: introFlop $speed $delay ease-in-out forwards;

  figure {
    display: flex;
    margin: auto auto 50px;
    border-radius: 100px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      max-width: 320px;
    }
  }


  #introTypewriter {
    margin: 0 auto auto;
    color: $white;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    // animation: fontSize $speed $delay ease-in-out forwards;

    &::before,
    &::after {
      content: '"';
      // content: '< ';
      font-family: Tahoma, Arial, sans-serif;
      font-size: 3.5rem;
      font-weight: 400;
      // animation: fontSize2 $speed $delay ease-in-out forwards;
    }
    // &::after { content: ' />'; }
  }
}

@keyframes introFlop {
  0% { height: 100vh; }
  100% { height: 50px; }
}

@keyframes fontSize {
  0% { font-size: 4rem; }
  100% { font-size: 2rem; }
}

@keyframes fontSize2 {
  0% { font-size: 3.5rem; }
  100% { font-size: 1.5rem; }
}

@keyframes htmlBackgroundIntro {
  from { background: $darkBlue; }
  to { background: $white; }
}
