@import 'fonts';
@import 'variables';
@import 'intro';

::selection { background: $gold; }

html {
  background: $darkBlue;
  // animation: htmlBackgroundIntro $speed $delay ease-in-out forwards;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Gilroy, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 100;
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  transition: background-color .3s ease-in-out;
  background-color: $white;

  // @media (prefers-color-scheme: dark) {
  //   background-color: $darkBlue;
  // }
}

.wrapper {
  display: flex;
}

figure {
  margin: 10px;
  text-align: center;

  figcaption {
    padding: 7px 5px;
    font-style: italic;
    color: $greyLight;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 400px;
  margin: 120px auto auto;
  color: $white;
  background: linear-gradient(94deg, $darkBlue, $lightBlue);
  font-size: .8rem;

  .copy {
    opacity: .2;
    margin: auto;
  }
}
